$def with (active, revoked)
$var title: Authorizations

<h1>Active Authorizations</h1>
$for auth in active:
    <div>
    <p><a href=/auth/clients/$auth["client_id"].partition("://")[2]>\
    $auth["client_id"]</a><br>
    <small>$auth["redirect_uri"]<br>
    $auth["initiated"]</small></p>
    $ r = auth["response"]
    <p>$", ".join(r["scope"].split())</p>
    $if "profile" in r:
        <p>$r["profile"]</p>
    $if "access_token" in r:
        <p>$r["access_token"]</p>
    <form action=/auth/revoke method=post>
    <button>Revoke Token</button>
    </form>
    </div>

<h2>Revoked</h2>
$for auth in revoked:
    <p><a href=/auth/clients/$auth["client_id"].partition("://")[2]>\
    $auth["client_id"]</a><br>
    $auth["initiated"]</small></p>
    $ r = auth["response"]
    <p>$", ".join(r["scope"].split())</p>
    $if "profile" in r:
        <p>$r["profile"]</p>
    $if "access_token" in r:
        <p>$r["access_token"]</p>
    <p><em><strong>revoked $auth["revoked"]</strong></em></p>
