$def with (client, client_author, scopes, path)

<form method=post action=/$path>
<fieldset>
<legend>Client</legend>
<p><big>
$ title = $client["url"]
$if client["name"]:
    $if client["name"]:
        $ title = f"{client['name']} ({client['url']})"
        $client["name"]<br>
    <a href=$client["url"]><code>$client["url"]</code></a>\
$else:
    $client["url"]\
$var title = f"Sign in to {title}"
</big></p>
$if client_author:
    <p><small>$client_author["name"]<br>
    <a href=$client_author["url"]>$client_author["url"]</a></small></p>
</fieldset>
$if scopes:
    <fieldset>
    <legend>Scope</legend>
    <ul>
    $for scope in scopes:
        <li><input type=checkbox name=scope value=$scope> $scope</li>
    </ul>
    </fieldset>
<button>Sign In</button>
</form>

<style>
body {
    max-width: 40em; }
</style>
