$def with (hostname, ip, uptime, status, configs, apps)
<!doctype html>
<style>
body {
    background-color: #000;
    color: #ddd;
    margin: 2em; }
button {
    background-color: #666;
    color: #ccc; }
fieldset {
    border: .25em solid #999; }
</style>
<title>$hostname</title>
<header>
<h1><code>$hostname</code> <small><code>$ip</code></small></h1>
<p><code>$uptime</code></p>
</header>

<h2>Status</h2>
<pre>$status</pre>

<h2>Configurations</h2>
$for name, config in configs:
    <h3>$name</h3>
    <pre>$config</pre>

<h2>Applications</h2>
$for package, applications in sorted(apps.items()):
    <h3>$package</h3>
    <form><button>Update</button></form>
    <form>
    <ul>
    $for appns, app, mod_name, attrs in applications:
        <li>$app.name.lower() &rarr; $mod_name:$attrs[0]
        <button>Mount</button></li>
    </ul>
    </form>

<form action=/apps method=post>
<fieldset>
<legend>Install Application</legend>
<p><small>A valid <a
href=https://github.com/angelogladding/web#a-simple-application>application</a>
provides one or more <code>web.apps</code> in its
<code>setup.py</code>.</small></p>
<label><strong>Application URL</strong><br>
https://github.com/<input type=text name=app></label><br>
<button>Install</button>
</fieldset>
</form>
