$def with (clients, resources)
$var title: Micropub Activity

<h1>Micropub Activity</h1>

<h2>Clients</h2>
<ul>
$for client in clients:
    <li>$client["client_id"]</li>
</ul>

<h2>Resources</h2>
<ul>
$for resource in resources:
    <li style=font-size:.75em;>
    <p><a href=$resource["url"]>$resource["url"]</a><br>
    <small>last modified $resource["modified"].diff_for_humans()</small></p>
    <p><strong>$", ".join(resource["resource"]["type"])</strong>:</p>
    <pre>$pformat(resource["resource"]["properties"])</pre>
    </li>
</ul>
